.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--lilac);
    align-items: center;
}
h1 {
    font-size: 20px;
    color: var(--purple);
    margin: 0;
    padding-top: 26;
}
.footer svg {
    height: 46px;
    margin-top: 16px;
    margin-bottom: 10px;
}