body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: normal;
}
a {
    color: white;
    text-decoration: none; /* to remove those pesky lines under the links */
}
.disabled { /* to disable any link anytime */
    pointer-events: none;
    color: var(--purple);
}
.btn-black {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    height: fit-content;
    padding: 14px 24px;
    transition: all 0.3s;
}
.btn-black:hover {
    background-color: black;
    color: var(--purple);
    cursor: pointer;
}

@keyframes colorChange {
    from {color: var(--blue);} 
    to {color: var(--purple);}
}