body {
    margin: 0;
    padding: 0;
    background: #1e1e1e;
    color: white; /* text color */
    font-family: Inter; /* font family */
    font-weight: normal;
}

a {
    color: white;
    text-decoration: none; /* to remove those pesky lines under the links */
}

/* to disable any link anytime */
.disabled {
    pointer-events: none;
}

.tbh {
    font-size: 50px;
    text-align: center;
    color: white;
    padding-top: 200px;
}