header {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    padding: 0 50;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background: var(--lightBlue);
}
header img {
    height: 24px;
    width: auto;
    float: left;
}
header a {
    font-size: 20px;
    color: var(--purple);
    transition: all 0.2s;
    margin-left: 50px;
}
header a:hover {
    color: var(--blue);
}
.active {
    color: var(--blue);
}
.disabled {
    color: gray;
    pointer-events: none;
}