/* DIV SOBRE MIM */
#sobre-mim {
    background-color: var(--lightBlue);
    color: black;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 120px 60px 60px 60px;
}
.logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}
.rotating-star {
    position: absolute;
    z-index: 1;
    top: -30;
    left: 26;
    height: 150px;
    width: auto;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
.main-logo {
    height: 350px;
    width: auto;
    z-index: 1;
}
.sparkle {
    animation: colors 1s infinite;
    animation-direction: alternate;
}
@keyframes colors {
    from {fill: var(--blue);} 
    to {fill: var(--purple);}
}
.logo h1 {
    font-size: 40px;
}
.intro {
    width: 40rem;
}
.intro p {
    font-size: 22px;
    margin: 0;
    padding-bottom: 20px;
}
.habilidades-cv {
    display: flex;
    justify-content: space-between;
}
.habilidadesbtn {
    align-self: flex-end;
}
.habilities-icons h1 {
    font-size: 22px;
    margin: 0;
    padding-bottom: 20px;
}
.habilities-icons img {
    height: 40px;
    width: auto;
    padding-right: 16px;
}
/* DIV PROJETOS */
#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 10px;
}
#projetos h1 {
    margin: 0;
    padding-bottom: 60px;
    text-align: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
}
.projeto-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out 0.1s;
}
.projeto-card:hover {
    transform: scale(1.2);
}
.projeto-card h2 {
    font-size: 22px;
    padding-top: 20px;
}
.cards img {
    height: 250px;
    width: auto;
    border-radius: 100px;
}
.projetobtn {
    margin: 60px;
}
