/* DIV SOBRE MIM ---------------------------------- */
#sobre-mim {
    background-color: var(--lightBlue);
    color: black;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 120px 60px 60px 60px;
}
.logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}
.rotating-star {
    position: absolute;
    z-index: 1;
    top: -30;
    left: 26;
    height: 150px;
    width: auto;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
.main-logo {
    height: 350px;
    width: auto;
    z-index: 1;
}
.sparkle {
    animation: colors 0.9s infinite;
    animation-direction: alternate;
}
@keyframes colors {
    from {fill: var(--blue);} 
    to {fill: white;}
}
.logo h1 {
    font-size: 40px;
}
.intro {
    width: 40rem;
}
.intro p {
    font-size: 22px;
    margin: 0;
    padding-bottom: 20px;
}
.habilidades-cv {
    display: flex;
    justify-content: space-between;
}
.habilidadesbtn {
    align-self: flex-end;
}
.habilities-icons h1 {
    font-size: 22px;
    margin: 0;
    padding-bottom: 20px;
}
.habilities-icons img {
    height: 40px;
    width: auto;
    padding-right: 16px;
}
/* DIV PROJETOS ---------------------------------- */
#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
}
#projetos h1 {
    margin: 0;
    padding-bottom: 60px;
    text-align: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
}
.projeto-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out 0.2s;
}
.projeto-card:hover {
    transform: scale(1.2);
}
.projeto-card h2 {
    font-size: 22px;
}
.cards a {
    height: 290px;
    width: auto;
    border-radius: 100px;
    overflow: hidden;
    transition: ease-in-out 0.2s;
}
.projeto-card:hover .img-do-projeto {
    border-radius: 0;
}
.cards img {
    width: 160;
    height: auto;
}
.projetobtn {
    margin-top: 60px;
}
/* DIV CONTATO ----------------------------------*/
#contato {
    padding: 60px 0;
}
#contato h1 {
    text-align: center;
    margin: 0;
}
.flex-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: fit-content;
    margin-top: 180px;
    margin-bottom: 100px;
}
.contato-backgroung {
    position: absolute;
    z-index: -1;
}
.contato-link {
    display: flex;
    align-items: center;
    margin: 25 25 25 60;
}
.contato-link img {
    height: 60px;
    width: auto;
    padding-right: 50px;
}
.contato-link a {
    font-size: 20px;
    color: var(--blue);
}



section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100;
    padding-right: 60px;
    width: 500px;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    background-color: rgba(217, 217, 217, 0.2);
    border-bottom: 2px solid black;
    transition: ease-in-out 0.2s;
}
form input:focus{
    border-color: var(--blue);
}
form textarea{
    padding: 10px;
    outline: none;
    resize: none;
    border: 0;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
    background-color: rgba(217, 217, 217, 0.2);
    border-bottom: 2px solid black;
    transition: ease-in-out 0.2s;
}
form textarea:focus{
    border-color: var(--blue);
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid black;
    transition: all 1s;
}