/* DIV SOBRE MIM ---------------------------------- */
#sobre-mim {
    background-color: var(--lilac);
    color: black;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 140px 60px 70px 60px;
}
.logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}
.rotating-star {
    position: absolute;
    z-index: 1;
    top: -30;
    left: 26;
    height: 150px;
    width: auto;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
.main-logo {
    height: 350px;
    width: auto;
    z-index: 1;
}
.logo h1 {
    font-size: 40px;
}
.intro {
    width: 40rem;
}
.intro p {
    font-size: 22px;
    margin: 0;
    padding-bottom: 20px;
}
.habilidades-cv {
    display: flex;
    justify-content: space-between;
}
.habilidadesbtn {
    align-self: flex-end;
}
.habilities-icons h1 {
    font-size: 22px;
    margin: 0;
    padding-bottom: 20px;
}
.habilities-icons svg {
    height: 40px;
    width: auto;
    padding-right: 16px;
}
/* DIV PROJETOS ---------------------------------- */
#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
}
#projetos h1 {
    margin: 0;
    padding-bottom: 60px;
    text-align: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
}
.projeto-card {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    height:fit-content;
    border-radius: 8px;
    overflow: hidden;
}
.projeto-card a {
    font-weight: 600;
    font-size: 18px;
    margin: 6px;
}
.cards img {
    width: auto;
    height: 200;
}
.purple-border {
    box-shadow: var(--purple) -2px 2px 0px 5px;
    color: var(--purple);
}
.pink-border {
    box-shadow: var(--pink) -3px 3px 0px 6px;
    color: var(--pink);
}
.yellow-border {
    box-shadow: var(--yellow) -3px 3px 0px 6px;
    color: var(--yellow);
}
.blue-border {
    box-shadow: var(--blue) -3px 3px 0px 6px;
    color: var(--blue);
}
.purple-underline {
    border-bottom: 1px solid var(--purple);
}
.pink-underline {
    border-bottom: 1px solid var(--pink);
}
.yellow-underline {
    border-bottom: 1px solid var(--yellow);
}
.blue-underline {
    border-bottom: 1px solid var(--blue);
}
.projetobtn {
    margin-top: 10px;
}
/* DIV CONTATO ----------------------------------*/
#contato {
    padding: 60px 0;
}
#contato h1 {
    text-align: center;
    margin: 0;
}
.flex-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: fit-content;
    margin-top: 180px;
    margin-bottom: 100px;
}
.contato-backgroung {
    position: absolute;
    z-index: -1;
}
.contato-link {
    display: flex;
    align-items: center;
    margin: 25 25 25 60;
}
.contato-link img {
    height: 60px;
    width: auto;
    padding-right: 50px;
}
.contato-link a {
    font-size: 20px;
    color: var(--blue);
}



section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100;
    padding-right: 60px;
    width: 500px;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    background-color: rgba(217, 217, 217, 0.2);
    border-bottom: 2px solid black;
    transition: ease-in-out 0.2s;
}
form input:focus{
    border-color: var(--blue);
}
form textarea{
    padding: 10px;
    outline: none;
    resize: none;
    border: 0;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
    background-color: rgba(217, 217, 217, 0.2);
    border-bottom: 2px solid black;
    transition: ease-in-out 0.2s;
}
form textarea:focus{
    border-color: var(--blue);
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
    background: transparent;
    border: 2px solid black;
    transition: all 1s;
}



@keyframes rotate-hue634 {
    to {
      filter: hue-rotate(1turn);
    }
  }