:root {
    --purple: #B090F5;
    --lightPurple: #C7C8F5;
    --blue: #91B5F5;
    --lightBlue: #C3F1F3;
    --background: #1E1E1E;
}

:root {
    scroll-behavior: smooth;
  }

::selection {
    background-color: var(--purple);
}