:root {
    --lilac: #C5ADFB;
    --purple: #7234BA;
    --blue: #0EDCE6;
    --pink: #E74EB6;
    --yellow: #FECF67;
    --background: #1E1E1E;
}
:root {
    scroll-behavior: smooth;
  }
::selection {
    background-color: var(--yellow);
}